<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/map.css">
    <title>Document</title>
</head>
<body style="background-color: black;">
        <div id="nav">
            <h3>LegalNexa</h3>
            <div id="nav-part2">
                <a href="upload_pdf"><h4>Home</h4></a>
                <h4>About Us</h4>
                <h4>Contact</h4>
            </div>
            <div id="nav-part3">
                <div id="circle"></div>
            </div>
        </div>
    
        <div id="map">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1vCceoM85RxP9eTYH5hz8ADLzn5gioq8&ehbc=2E312F&ll=18.97145237012057%2C72.83598282979956&z=15" width="640" height="480" frameborder=”0″ style=”border:0″></iframe>
    </div>

</body>
</html>