<!DOCTYPE html>
<html>

<head>
    <title>Upload PDF</title>
    <link rel="stylesheet" href="/static/sum.css">
</head>

<body>
        <div class="main">
            <div id="nav">
                <h3>LegalNexa</h3>
                <div id="nav-part2">
                    <h4>Home</h4>
                    <h4>About Us</h4>
                    <h4>Contact</h4>
                </div>
                <div id="nav-part3">
                    <div id="circle"></div>
                </div>
            </div>
            <div id="formed">
                <h1></h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="file-input"><p id="uploadh1">Upload your PDF</p></label>
                    <input type="file" name="file" id="file-input" class="file-input">
                    <br>
                    
                    <button type="submit" id="submit-button">Upload</button>
                </form>
        </div>
        </div>
        
</body>

</html>