
<div id="alert-box"></div>
<div id="image-box"></div>
<br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file" id="file-input" class="file-input">
    <p id="file-name" style="color: #fff;">No file selected</p> 
    <button type="submit" id="submit-button">Upload</button>
</form>
<br>
<div class="summary">
    <h2>Summary</h2>
    <p>This is a summary of the PDF file.</p>
</div>
<div id="progress-box" class="not-visible"></div>