*{
    margin: 0;
    padding: 0;
    color: #fff;
}
.main{
    height: 120vh;
    background-color: black;
    position: relative;
}

#nav{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index:102;
}
#nav img{
    height: 27px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav #circle{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
}
#nav h4{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav h4:nth-child(1){
    border-bottom: 1.5px solid #fff;
}
#formed{
    padding-left: 45%;
    padding-top: 10%;
    column-gap: 20px;
}
#file-upload-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(30, 129, 228);
    transition: 0.5s;
}

#uploadh1{
    font-size: 30px;
    margin: 5px;
    margin-left: -10px;
}

#submit-button{
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
    margin-top: 10px;
}
#file-input{
    margin: 10px;
    margin-left: -10px;
}

.summary{
    width: 600px;
    margin-top: 40px;
    margin-left: 30%;
    border: 1px solid wheat;
    padding: 20px;
    border-radius: 40px;
    word-wrap: break-word;
    background-color: rgb(85, 81, 81);
}
#file-input{
    width: 200px;
    background: rgb(238, 233, 233);
    border: none;
    outline: none;
    box-shadow: 2px 5px 2px black;
    border-radius: 50px;
    color: black;
    
}
::-webkit-file-upload-button{
    border: none;
    background-color: rgb(61, 146, 236);
    border-radius: 50px;
    height: 48px;
    color: rgb(4, 3, 3);
    width: 100px;
    box-shadow: 4px 1px 1px grey;
}
::-webkit-file-upload-button:hover{
    background-color: rgb(99, 99, 239);
}
#file-input:hover{
    background-color: rgb(112, 109, 109);
    color:blanchedalmond
}